@import url('https://fonts.cdnfonts.com/css/8bit-wonder');
body {
    background-color: #000;
    margin: 0;
    // font-family: '8BIT WONDER', sans-serif;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.counter {
    font-size: 2em;
    color: #ff0000;
    margin: 10px;
    padding: 10px;
    /* border: 2px solid #ff0000; */
    /* border-radius: 10px; */
    /* box-shadow: 0 0 10px rgba(255, 0, 0, 0.5); */
    flex: 1;
    /* Distribuye igualmente el espacio verticalmente */
}

@media (max-width: 768px) {

    /* Estilos para pantallas más pequeñas, por ejemplo, dispositivos móviles */
    .counter {
        font-size: 1.5em;
    }
}